// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.bottom-text {
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    font-size: 1.4rem;
    color: rgb(219, 219, 219);
    transform: translate(-50%, -50%);
}