// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.upload-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.title {
    color: white;
    font-size: 9rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0rem;

    @media(max-width: 955px) {
        font-size: 8rem;
    }

    @media(max-width: 860px) {
        font-size: 7.5rem;
    }

    @media(max-width: 800px) {
        font-size: 7rem;
        line-height: 8.5rem;
    }
}

.subtitle {
    color: rgb(230, 230, 230);
    font-size: 3.75rem;
    font-weight: 300;
    margin-top: 0.75rem;

    @media(max-width: 800px) {
        font-size: 3rem;
    }
}

.websites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    min-height: 27.5rem;
    grid-gap: 2rem;
    padding-top: 3rem;

    @media(max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.website {
    transition: 0.3s;
    height: 35rem;
    width: auto;
    border-radius: 0.5rem;
    color: rgb(230, 230, 230);
    font-weight: 400;
    font-size: 2rem;

    &:hover {
        transform: skewX(0.5deg);
    }
}

.img {
    width: 100%;
    height: 90%;
    border-radius: 0.5rem;
}

.directions {
    color: rgb(230, 230, 230);
    font-size: 2.5rem;
    font-weight: 300;
}